<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fair Housework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body class="container-sm fundo">

    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
        <div class="bg-light p-4 d-flex flex-column">
            <h5 class="text-body-emphasis h4">Menu</h5>
            <a href="perfil.html"><span class="text-body-secondary">Perfil</span></a>
            <a href="tarefas.html"><span class="text-body-secondary">Tarefas</span></a>
            <a href="quadro-tarefas.html"><span class="text-body-secondary">Quadro de Tarefas</span></a>
            <a href="residencias.html"><span class="text-body-secondary">Residências</span></a>
            <a href="../controller/logout.php"><span class="text-body-secondary">Logout</span></a>
        </div>
    </div>
    <nav class="navbar navbar-light bg-light rounded-bottom-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>


    <div class="row">

        <div class="col">
            <h1 class="text-center text-white">
                Gerenciamento de Residências
            </h1>

            <div class="bg-white border border-2 border-dark-subtle rounded-4 h-100 w-100 d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                  <div class="row">
                      <button class="btn btn-secondary fundo m-2 w-25 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false" data-bs-auto-close+"outside">Nova residência</button>
                      <div class=" w-25" id="adicionarResidencia" data-bs-theme="light">
                          <div>
                              <form class="dropdown-menu">
                                <div>
                                  <label>Nome da Residencia</label>
                                  <input type="text" name="nome_residencia" required
                                    class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div>
                                  <label>Logradouro</label>
                                  <input type="text" name="logradouro" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div>
                                  <label>Número</label>
                                  <input type="number" min="0" name="numero" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div class="mb-3">
                                  <label>Bairro</label>
                                  <input type="text" name="bairro" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div class="mb-3">
                                  <label>Cidade</label>
                                  <input type="text" name="cidade" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div class="mb-3">
                                  <label>Estado</label>
                                  <input type="text" name="estado" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <div class="mb-3">
                                  <label>Tipo de Residência</label>
                                  <input type="text" name="tipo" required class="w-100 rounded-4 border border-2 border-dark-subtle">
                                </div>
                                <button class="btn btn-secondary fundo mt-2 w-50" type="submit" formmethod="post" formaction="../controller/cadastrar-residencia.php">Adicionar</button>
                              </form>
                          </div>
                      </div>
                    </div>

                    <div class="row mt-3">
                        <!-- lista de residências -->
                        <div class="col-md-12">
                            <div class="d-sm-flex justify-content-around">
                                <div class="d-grid ratio ratio-16x9">
                                    <iframe src="../controller/visualizar-residencias.php"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>

        <!--Não apagar-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</body>

</html>
